<%- include('../partials/header.ejs') %>

<div class="error-container">
    <div>
        <h1 class="error">404, Page Not found</h1>
    </div>
    <div class="goback">
        <a href="/">Order some sweet</a>
    </div>
</div>

<div class="bottom-foot">
    <%- include("../partials/footer.ejs") %>
</div>