<footer class="w-full h-full md:h-full pt-8 pb-6 ">
    <section class="md:flex items-center text-center justify-around pb-2">
        <section class="transform-translate-50 pb-2">
            <h3 class="text-lg font-bold text-white md:pb-2">Know Us</h3>
            <ul class="">
                <li><a class="navmenu" href="/#menuid">Menu</a></li>
                <li><a class="navmenu" href="/blog/cakeblog">Blogs</a></li>
                <li><a class="navmenu" href="/#aboutid">Our Story</a></li>
                <li><a class="navmenu" href="/contact">Contact Us</a></li>
            </ul>
        </section>
        <section class=" transform-translate-50">
            <h3 class="text-lg font-bold md:pb-2 text-white">Need Help</h3>
            <ul class="">
                <li><a class="navmenu" href="tel:+917632782387">Call Us</a></li>
                <li><a class="navmenu" href="mailto:jaymishra567@gmail.com" target="_blank">Mail Us</a></li>
                <li><a class="navmenu" href="/locate">Locate Us</a></li>
                <li><a class="navmenu" href="/privacy">Privacy Policy</a></li>
            </ul>
        </section>
        <section class="pt-3">
            <h3 class="text-lg font-bold text-white md:pb-2">Find Us</h3>
            <ul class="text-white">
                <a href="https://www.facebook.com" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a class="pl-4" href="https://www.instagram.com" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a class="pl-4" href="https://www.twitter.com" target="_blank"><i
                        class="fab fa-twitter"></i></a>
                <a class="pl-4" href="" target="_blank"><i class="fab fa-youtube"></i></a>
                <div class="pt-2">
                    <a class="pl-4 navmenu" href="/login">LogIn</a>/ <a class="navmenu" href="/register">SignUp</a>
                </div>

                <div class="news pt-2">
                    <h3 class="">Subscribe Our Newsletter</h3>
                    <input class="rounded-full px-2 py-.6 focus:outline-none" type="email" name="" id="subscribeEmail"
                        placeholder="Enter Email Address">
                <br class="">
                <button type="submit" class="btn-primary rounded-full px-3 mt-2">Subscribe</button>
                </div>
            </ul>
        </section>
    </section>
    <section class="pt-4">
        <hr>
        <p class="text-center text-white pt-4">©BakeHeaven.com | Managed by Jay Mishra</p>
    </section>
</footer>