<section id="sidebar">
  <div class="sidebar-brand w-40">

    <a href="/"><img src="/img/logo1.png" alt="logo" srcset=""></a>

  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="/dashboard/allOrders"><span><i class="fa fa-desktop"></i> </span><span class="ml-2">All
            Orders</span></a>
      </li>
      <li>
        <a href="/dashboard/viewAdmin"><span><i class="fa fa-users"></i></span><span class="ml-2">
            Admin</span></a>
      </li>



      <li>
        <a href="/dashboard/viewCustomer"><span><i class="fa fa-users"></i></span> <span class="ml-1">
            Customers</span></a>
      </li>
      <li>
        <a href="/dashboard/viewMenu"><span><i class="fas fa-birthday-cake"></i></span> <span class="ml-3">
            Menu</span></a>
      </li>

      <li>
        <a href="/dashboard/viewCategory"><span><i class="fa fa-list-alt" aria-hidden="true"></i> </span><span
            class="ml-2">
            Categories</span></a>
      </li>

      <li>
        <a href="/dashboard/viewContact"><span>
            <i class="fas fa-envelope-open-text"></i></i>
          </span> <span class="ml-2">Messages</span></a>
      </li>


    </ul>
  </div>
</section>