<%- include('../partials/header.ejs')%>

  <section class="container mx-auto py-10">
    <h1 class="text-4xl font-bold">BAKING: PRIVACY POLICY</h1>
    <p class="py-4">
      Note: Our privacy policy is subject to change at any time without notice. To
      make sure you are aware of any changes, please review this Privacy Policy
      Page periodically.<br /><br>
      By visiting this Website you agree to be bound by the terms and conditions
      of this Privacy Policy. If you do not agree please do not use or access our
      Website.<br /></br>
      By mere use of the Website, you expressly consent to our use and disclosure
      of your personal information in accordance with this Privacy Policy. This
      Privacy Policy is incorporated into and subject to the Terms of Use.
    </p>
    <hr />

    <p class="py-4">
    <h3 class="text-2xl font-bold">
      What personal information do we collect from the people that visit our blog,
      website or app?
    </h3><br>
    <h5>When ordering or registering on our site, as appropriate,
      you may be asked to enter your name, email address, receiver name, delivery
      address,phone number or other details to help you with
      your experience.</h5>
    </p><br>
    <hr />
    <br>
    <h1 class="text-4xl font-bold">CONTACTING US</h1>
    <br>
    <address>
      <h4>Farmud Ali Path(Formerly Royal Road)</h4>
      <h2>Jorhat(Assam)</h2>
      <h2>Pin-785001</h2>

    </address>



  </section>

  <%- include("../partials/footer.ejs") %>